<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <script src="public/js/bootstrap.min.js"></script>
    <link rel = "stylesheet" href = "public/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    {{> header}}
    <div class = "list-group">
        <a href="/" class="list-group-item list-group-item-action">Home <span class="badge badge-secondary"> <i class="fas fa-home"></i> </span></a>
        <a href="/show" class="list-group-item list-group-item-action">Show All Product  <span class="badge badge-secondary"> <i class="far fa-eye"></i> </span></a>
        <a href="/insearch" class="list-group-item list-group-item-action">Search Product  <span class="badge badge-secondary"> <i class="fas fa-search"></i> </span></a>
        <a href = "/insert" class="list-group-item list-group-item-action"> New Product  <span class="badge badge-secondary"><i class="fas fa-plus"></i></span></a>
    </div>
    <br>
    <center><img src="/image/521.jpg" alt = "ahihi" width="300" height="200"> <img src="/image/520.jpg" alt = "ahihi" width="300" height="200"> <img src="/image/522.jpg" alt = "ahihi" width="300" height="200"></center>
    <br>
   <center>{{> footer}}</center> 
</body>
</html>