<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEARCH PRODUCT</title>
</head>
<body>
    {{> header}}
    <div class = "container">
        <div class ="row">
            <div class="col-sm-4">
                <p><a href="/" class="list-group-item list-group-item-action">Home <span class="badge badge-secondary"> <i class="fas fa-home"></i> </span></a></p>
            </div>
            <div class="col-sm-4">
                <p><a href="/show" class="list-group-item list-group-item-action">Show All Product <span class="badge badge-secondary"> <i class="far fa-eye"></i> </span></a></p>
            </div>
            <div class="col-sm-4">
                <p><a href = "/insert" class="list-group-item list-group-item-action"> New Product <span class="badge badge-secondary">New</span></a></p>
            </div>    
        </div>
    </div>

     <h1>Search Product</h1>
    <div class = "container">
        <div class ="row">
            <div class="col-sm-4">
        <form action = "/doSearch" method="post">
        Name: <input class="form-control" name="txtSearch" type="text" placeholder="Search..." id ="" >
        <br>
        <input type="submit" value ="SEARCH">
    </form>
            </div>
        </div>
    </div> 
    <br>
    {{> footer}} 
</body>
      
</html>